<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
        <!--sm基于注解开发,添加包扫描-->
        <context:component-scan base-package="sm.service.impl"></context:component-scan>
        <!-- 通常事务处理都是放在service层 -->
        <!--要用到里面配置的数据源等-->
        <import resource="applicationContext_mapper.xml"></import>
        <!--添加事务管理器-->
        <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
                <!--配置数据源。ref是mapper中配置好的-->
                <property name="dataSource" ref="dataSource"></property>
        </bean>
        <!--
        添加注解驱动（解析注解@Transactional？)
            annotation-driven http://ww.springframe.org/schema/tx   后缀得是tx
            transaction-manager是上面的事务管理器id
        -->
        <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>
</beans>