<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beiyuan.music.mapper.SongsMapper">
    <select id="getSongIdBySongSheetId" resultType="int">
        select song_id from songs where song_sheet_id=#{songSheetId}
    </select>
</mapper>
